@font-face {
	font-family: 'OldOakAP';
	src: url('../fonts/OldOakAP.eot');
	src: url('../fonts/OldOakAP.eot?#iefix') format('embedded-opentype'),
			url('../fonts/OldOakAP.woff2') format('woff2'),
			url('../fonts/OldOakAP.woff') format('woff'),
			url('../fonts/OldOakAP.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

html, body  {
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
}

.sign-in-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1600px;
	height: 100vh;
	margin: 0 auto;
}

.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1600px;
	height: 100vh;
	width:100%;
}

header {
	position: fixed;
	max-width: 1600px;
	z-index: 5;
	top: 0;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 2px solid #bababa;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hidden-header {
	display: none;
}

h1 {
	margin: 18px 0;
	text-align: center;
	font-family: 'OldOakAP';
	font-weight: 500;
	font-style: normal;
	font-size: 2.8rem;
	letter-spacing: 0.1;
}

button {
	font-size: 1.4rem;
	font-weight: 500;
	padding: 5px 38px;
	letter-spacing: 1.5px;
	border: none;
	background: none;
	outline: none !important;
	cursor: pointer;
}

button:hover {
	color: #bababa;
	transition: 0.5s;
	border-color: #bababa;
}

.fa-user::before, .fa-angle-left::before {
	font-size: 1.8rem;
	transform: translateY(3px);
}

.fa-angle-left::before {
	font-size: 2.4rem;
	transform: translateY(3px);
}

.fa-user, .fa-angle-left {
	transform: translateY(2px);
	margin-right: 6px;
}

.fa-angle-left {
	transform: translateY(4px);
	margin-right: 6px;
}

main>section:nth-child(1) {
	margin-top: 124px;
}

/* Card section */
.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 54px 0 20px 0;
}

.title h2 {
	font-size: 2.9rem;
	margin-bottom: 16px;
	letter-spacing: 0.3px;
	text-align: center;
}

.title h4 {
	font-size: 1.9rem;
	letter-spacing: 0.2px;
}

.card-section {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 30px 0;
}

.card-wrapper {
	display: inline-flex;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 400px;
	margin: 0 21px;
	box-shadow: 0 0 10px 10px rgb(231, 231, 231);
}

.card>img {
	width: 100%;
}

.card h6 {
	font-size: 2.8rem;
	color: #2b87dc;
	font-weight: normal;
	margin: 23px 0 10px 0;
}

.card p {
	font-size: 2.5rem;
	margin: 0;
	line-height: 2.5rem;
}

.card>p:nth-of-type(2) {
	font-size: 1.6rem;
	margin-bottom: 25px;
	text-align: center;
}

.start-now {
	padding: 11px 32px;
	border: 2px solid #2b87dc;
	border-radius: 25px;
	color: #2b87dc;
	margin-bottom: 30px;
}

.proposal {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	min-height: 255px;
	padding: 24px 31px 0 31px;
}

.proposal p {
	font-size: 1.5rem;
	margin-bottom: 15px;
}

.fa-check {
	margin-right: 10px;
	color: #2b87dc;
}

input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="radio"]:checked + label:before, 
input[type="radio"]:not(:checked) + label:before {
    border-radius: 100%;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 5px;
    width: 13px;
    height: 7px;
    border-radius: 1px;
    border-left: 2.5px solid #000000;
    border-bottom: 2.5px solid #000000;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.proposal>p:nth-of-type(6) {
	margin-bottom: 0;
}

.details {
	font-size: 1.5rem !important;
	letter-spacing: 1.8px;
	margin: 3px 0 24px 0 !important;
	color: #2b87dc;
}

.digital:hover {
	color: #ffffff;
	background-color: #2b87dc;
	border-color: #2b87dc;
}

.print-digital, h6.print-digital {
	color: #1ab0b9;
	border-color: #1ab0b9;
}

button.print-digital:hover {
	color: #ffffff;
	border-color: #1ab0b9;
	background-color: #1ab0b9;
}

.special-offer, h6.special-offer {
	color: #3a55af;
	border-color: #3a55af;
}

button.special-offer:hover {
	color: #ffffff;
	border-color: #3a55af;
	background-color: #3a55af;
}

.title-offers {
	display: flex;
	justify-content: center;
	margin: 29px;
}

.title-offers h4 {
	font-size: 1.8rem;
}

.offers>div:nth-child(2).card-section {
	display: flex;
	align-items: center;
	padding: 0 0 35px 0;
	border-bottom: 1px solid #bababa;
}

.offers>.card-section>.card, .benefits>.card-section>.card {
	box-shadow: none;
	background-color: none;
	border: none;
	margin: 0 75px;
}

.offers>div:nth-child(2).card-section>div>h6 {
	margin: 5px 0;
	text-align: center;
	color: #1ab0b9;;
}

.offers>div:nth-child(2).card-section>div>p {
	font-size: 1.8rem;
	margin: 13px 0 35px 0;
	text-align: center;
}

.offers>div:nth-child(2).card-section>div>button {
	color: #ffffff;
	background-color: #1ab0b9;
	border: none;
	width: 160px;
}

.offers>div:nth-child(2).card-section>div>button:hover {
	background-color: #87d9dd;
}

.benefits>.title {
	margin: 54px 0 4px 0;
}

.benefits>.card-section {
	padding: 30px 0 0 0;
}

.benefits>.card-section>.row-direction {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 28px;
}

.benefits>.card-section>.row-direction>.card {
	display: inline-flex;
	justify-content: center;
	width: auto;
	margin: 0 23px;
	box-shadow: none;
	background-color: none;
	border: none;
}

.fa-star {
	font-size: 2rem;
	margin-bottom: 24px;
}

.benefits>div:nth-child(1)>h2 {
	font-size: 3.8rem;
}

.benefits>.card-section>.row-direction>.card>p:nth-child(2) {
	font-size: 1.8rem;
	text-align: center;
	font-weight: bold;
	margin-bottom: 13px;
}

.benefits>.card-section>.row-direction>.card>p:nth-child(3) {
	text-align: center;
	line-height: 2.3rem;
	letter-spacing: -0.5px;
}

/* Carousel */
.carousel-control-next, .carousel-control-prev {
	width: 100px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
	width: 40px;
	height: 40px;
	color: #bababa;
}

.carousel-item-text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.description {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	text-align: center;
}

.description p {
	font-size: 1.8rem;
	color: #ffffff;
}

.description h2 {
	font-size: 4.5rem;
		color: #ffffff;
}

/* Some-text section */
.some-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 65px;
}

.some-text>h4 {
	font-size: 3.0rem;
	margin: 53px 0 20px 0;
	letter-spacing: -1px;
}

.some-text>p {
	font-size: 1.5rem;
	text-align: center;
	line-height: 25px;
	margin-bottom: 34px;
}

.more {
	padding: 8px 36px;
	color: #000000;
	border-color: #000000;
}

footer {
	position: fixed;
	max-width: 1600px;
	z-index: 5;
	bottom: 0;
	width: 100%;
	background-color: #ffffff;
	border-top: 2px solid #bababa;
}

.footer-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

}

.footer-wrapper>div:nth-child(1) {
	font-size: 1.4rem;
	margin-left: 42px;
}

.footer-wrapper>div:nth-child(1)>p {
	font-size: 1.4rem;
	color: #bababa;
	margin: 0;
}

.footer-wrapper>div:nth-child(2)>ul {
	margin: 0;
}

.footer-wrapper>div:nth-child(2)>ul>li {
	display: inline-block;
	font-size: 1.4rem;
	margin: 23px 9px;
	color: #bababa;
}

.footer-wrapper>div:nth-child(2)>ul>li>a {
	text-decoration: none;
	color: #bababa;
}

.footer-wrapper>div:nth-child(2)>ul {
	transform: translateX(-68px)
}

/* Aside section */
.aside {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 360px;
	width: 100%;
	padding: 0 60px;
	background-color: #f0f0f0;
}

.aside-header {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #bababa;
	width: 100%;
}

.aside-header h2 {
	font-size: 2.6rem;
	margin: 20px 0;
}

.aside-header .fa-shopping-cart {
	font-size: 2.6rem;
}

.aside h4 {
	font-size: 1.8rem;
	margin: 48px 0 28px 0;
}

.aside p {
	font-size: 1.5rem;
	margin-bottom: 28px;
}

.aside p:last-child {
	font-weight: bold;
}

/* Authorization section */
.sign-in {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	max-width: 1240px;
	width: 100%;
	height: 100vh;
	margin: 70px 0;
	padding-top: 50px;
}

.form {
	display: flex;
	flex-direction: column;
	/* max-width: 370px; */
}

form>div:nth-child(1) {
	height: 100px;
}

form>div:nth-child(2) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 95px;
	border-top: 1px solid #bababa;
	border-bottom: 1px solid #bababa;
}

form>div:nth-child(2)>h4 {
	font-size: 2.6rem;
}

form>div:nth-child(2)>p {
	font-size: 1.6rem;
	margin: 0;
}

form>div:nth-child(3) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* height: 100px; */
	border-bottom: 1px solid #bababa;
}

form>div:nth-child(3)>div:nth-child(1)>h4 {
	font-size: 2.8rem;
	margin: 32px 0 15px 0;
}

form>div:nth-child(3)>div:nth-child(1)>p {
	font-size: 1.6rem;
	margin: 0;
}

form>div:nth-child(3)>div:nth-child(1)>p>span {
	font-weight: bold;
	letter-spacing: 0.5px;
}

form>div:nth-child(3)>div:nth-child(2) {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.facebook, .google {
	position: relative;
	font-size: 1.4rem;
	font-weight: 500;
	margin: 42px 15px 38px 20px;
	padding: 10px 18px;
	letter-spacing: 1.5px;
	border-radius: 25px;
	cursor: pointer;
	vertical-align: middle;
}

.facebook span, .google span {
	position: absolute;
	top:0;
	left:0;
	height: 5px;
	width:5px;
}

.google{
	background: #eeeeee;
	outline: #eeeeee;
	color: #3c5a99;
}

.google img {
	margin-left: 40px;
}

.facebook {
	background: #3c5a99;
	outline: #3c5a99;
	color: #ffffff;
}

.fa-facebook-f {
	font-size: 2rem;
	margin-left: 50px;
}

.facebook:hover {
	color: #bababa;
	transition: 0.5s;
	border-color: #bababa;
}

.header-form {
	max-width: 1240px;
}

.footer-form {
	max-width: 1240px;
}


@media (max-width: 1200px) {
	main>section:nth-child(1)>.card-section {
		flex-direction: column;
		align-items: center;
	}

	main>section:nth-child(1)>.card-section>.card {
		margin-top: 20px;
	}

	.row-direction {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}

	.offers>.card-section>.card {
		margin: 0 10px;
	}

	.offers>.card-section>.card>button {
		width: 160px;
	}
}

@media (max-width: 992px) {
	.description p {
		font-size: 1.8rem;
		color: #ffffff;
	}
	
	.description h2 {
		font-size: 2.5rem;
			color: #ffffff;
	}
}

@media (max-width: 856px) {
	.card-wrapper {
		flex-direction: column;
	}

	.card-wrapper>.card:nth-child(2) {
		margin-top: 20px;
	}
}

@media (max-width: 768px) {
	button {
		padding: 5px 38px;
	}

	.offers>div:nth-child(2)>.card-section {
		flex-direction: column;
	}

	.benefits>.card-section, .offers>.card-section {
		flex-direction: column;
	}

	.some-text {
		margin-bottom: 150px;
	}

	.footer-wrapper>div:nth-child(2)>ul>li {
		display: block;
		text-align: center;
		margin: 5px 0;
	}
}

@media (max-width: 620px) {
	.header-wrapper {
		display: none;
	}

	.hidden-header {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.hidden-header>h1 {
		margin: 10px 0 0 0;
	}

	.hidden-header>.header-buttons {
		margin: 10px;
	}

	.description p {
		font-size: 0.5rem;
		color: #ffffff;
	}
	
	.description h2 {
		font-size: 1rem;
			color: #ffffff;
	}
}

/* JS hide sections */
.hidden {
	display: none !important;
}